apiVersion: v1
data:
  postgres-dsn: ${POSTGRES_DSN}
kind: Secret
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/managed-by: openfaas-fn
  managedFields:
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:data:
        .: {}
        f:postgres-dsn: {}
      f:metadata:
        f:labels:
          .: {}
          f:app.kubernetes.io/managed-by: {}
      f:type: {}
    manager: faas-netes
    operation: Update
    time: "2020-06-02T07:39:12Z"
  name: postgres-dsn
  selfLink: /api/v1/namespaces/openfaas-fn/secrets/postgres-dsn
type: Opaque
