apiVersion: v1
data:
  redis-config: ${REDIS_CONFIG}
kind: Secret
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/managed-by: openfaas-fn
  managedFields:
  - apiVersion: v1
    fieldsType: FieldsV1
    fieldsV1:
      f:data:
        .: {}
        f:redis-config: {}
      f:metadata:
        f:labels:
          .: {}
          f:app.kubernetes.io/managed-by: {}
      f:type: {}
    manager: faas-netes
    operation: Update
    time: "2020-06-02T03:50:48Z"
  name: redis-config
  selfLink: /api/v1/namespaces/openfaas-fn/secrets/redis-config
type: Opaque